= simple_form_for @collection, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@collection[:name])
  = f.input :user_id
  = error_span(@collection[:user_id])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), collections_path, :class => 'btn btn-default'
