= simple_form_for [@collection, @picture] do |f|
  = f.error_notification

  .form-inputs
    = f.input :image, as: :file

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), collection_path(@picture.collection), :class => 'btn btn-default'